<a href="https://colab.research.google.com/github/Pragya-Pandey2709/Code-Academy-ML-course-/blob/main/AILAB1_LISTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TO FIND MAX NUMBER FROM A LIST
a=[]
while True:
    x=input("enter a number:")
    if x=="/0":
        break
    a.append(int(x))
print("max of the list is:",max(a))3

enter a number:12
enter a number:74
enter a number:48
enter a number:4
enter a number:/0
max of the list is: 74

In [ ]:
#TO PERFORM VARIOUS OPERATIOSN ON LIST
a=[]
b=["a","b"]
p=1
while True:
    x=input("enter a number:")
    if x=="/0":
        break
    a.append(int(x))
for i in a:
    p=p*i
print("product of the list is:",p)
print("concatenate list is:",a+b)
print("repeat list is:",a*3)
a.append(5)
print("append list is:",a)
a.sort()
print("sort list is:",a)
a.extend(b)
print("extend list is:",a)

enter a number:12
enter a number:2
enter a number:44
enter a number:54
enter a number:3
enter a number:4432
enter a number:/0
product of the list is: 758191104
concatenate list is: [12, 2, 44, 54, 3, 4432, 'a', 'b']
repeat list is: [12, 2, 44, 54, 3, 4432, 12, 2, 44, 54, 3, 4432, 12, 2, 44, 54, 3, 4432]
append list is: [12, 2, 44, 54, 3, 4432, 5]
sort list is: [2, 3, 5, 12, 44, 54, 4432]
extend list is: [2, 3, 5, 12, 44, 54, 4432, 'a', 'b']

In [ ]:
#addition of list elements 
a=[]
while True:
    x=input("enter a number:")
    if x=="/0":
        break
    a.append(int(x))
print("sum of the list is:",sum(a))

enter a number:3
enter a number:43
enter a number:23
enter a number:3
enter a number:2
enter a number:/0
sum of the list is: 74

In [ ]:
#python sets
a=set()
a.add(1)
a.add(2)
print(a)
a.update([2,4,5])
print(a)
a.discard(2)
print(a)

{1, 2}
{1, 2, 4, 5}
{1, 4, 5}